.head-design{
  position:relative;
  padding-left:25px;
  border-bottom:solid 1px #ababab;
}
.head-design::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-10px);
  background: #01558d;
  border-radius: 50%;
}
  .head-design::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  width: 10px;
  height: 10px;
  background: #2798e4;
  border-radius: 50%;
}